body{
	background-color: #F5EDE8;
	font-family: monospace;
	margin-left: 8px;
	margin-top:8px;
	margin-right: 8px;
	margin-bottom: 8px;
}
header{
	margin-left: 50px;
}
header h1{
	font-size: 30px;
	text-decoration: bold;
	color: #A04000;
}
header a{
	font-size: 20px;
	color: #A04000;
	text-decoration: none;
}
header a:hover{
  	color: #44A76C;
}
header a:active{
	text-decoration: underline;
}
main{
	text-align: center;
	margin-top: 50px;
}
